{% extends "base.html" %}

{% block title %}Landlord Properties - RentConnect{% endblock %}

{% block content %}
<h1>My Properties</h1>

{% if properties|length > 0 %}
    <div>
    {% for prop in properties %}
        <div class="card">
            <h3>{{ prop.title }}</h3>
            <p>{{ prop.address }}, {{ prop.city }}</p>
            <p>${{ prop.price_per_month }} / month</p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="card">You have no properties yet.</div>
{% endif %}

{% endblock %}
